.addCustomContainer {
  position: absolute;
  //   background-color: #2c3034;
  //   height: 100vh;
  top: 0;
  left: 0;
  // height: 100vh;
  // width: 100vw;
  margin: 0 !important;
  z-index: 100;
}

.toggleHandleContainer {
  position: absolute;
  z-index: 200;
  width: 7vw;
  height: 10vh;
  top: 45vh;
  left: 91vw;
  border: 1px solid rgb(172, 93, 93);
  display: flex;
  justify-content: center;
  align-items: center;
}
.toggleHandle {
  transform: rotate(-90deg);
  padding: 5px;
}
.overlayContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #2c3034;
  z-index: 100 !important;
}
.addCustomForm {
  position: relative;
  z-index: 150 !important;
}

.suggestions {
  position: absolute;
  z-index: 200;
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 17vh;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  background-color: #2c3034;
  width: 70vw;
}

.suggestionsLis {
  position: relative;
  z-index: 200;
  padding: 0.5rem;
  border: 0.5px solid white;
  border-top: none;
}
.addCustomCol {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.addCustomForm {
  margin: 2vh 2vw;
  width: 90vw;
}
.addCustomRow {
  margin: 0 2vw;
}

.addSets,
.addReps {
  width: 35vw;
}
// .suggestions li:not(:last-of-type) {
//   border-bottom: 1px solid #999;
// }
