#root {
  position: absolute;
  z-index: -102;
}
.App {
  text-align: center;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: #2c3034;
  z-index: -101;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.escapeContainer {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  opacity: 0.5;
}

.appContainer {
  position: absolute;
  z-index: -100;
  height: 100vh;
  width: 100vw;
  // min-width: 100vw;
  // min-height: 100vh;
  overflow: hidden;
  max-height: 700px;
  max-width: 400px;

  background-color: #2c3034;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  font-size: 10px;
  color: white;

  padding: 1px;
}

th,
button,
.historyTableFormat {
  margin-bottom: 0rem !important;
}
div {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.bg-dark,
.dark {
  color: #fff;
}
$row1: 6vh;
$row2: 5vh;
$row3: 51vh;
$row4: 17vh;
$row5: 15vh;
$row6: 6vh;
.dayToggleContainer {
  height: $row1;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    font-size: 15px;
  }
}

.bannerRow {
  height: $row2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  max-width: 100vw !important;
  margin: 0 !important;
  .col {
    width: 50vw;
    max-width: 50vw !important;
    text-align: center;
    padding: 0 !important;
  }
}
.headerRow {
  height: 4vh;
  [class*="col"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  border-bottom: 1px #fff solid;
  border-top: 1px #fff solid;
}
.activeContentContainer {
  // height: $row3;
  padding-bottom: 2vh;
}
.activeExercisesRow {
  margin: 0;
  padding: 2% 0;
  font-size: 10px;
  max-width: 100vw;

  position: relative;
  z-index: 10 !important;
}
.activeNotesRow {
  padding: 10px;
}
.activeTableScrollContainer {
  padding-top: 1vh;
  overflow: hidden scroll;
  position: relative;
  max-width: 100vw !important;
  // height: 40vh;
  z-index: 10 !important;
  max-height: 40vh;
}

.activeTableScrollContainer {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.activeTableScrollContainer::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.activeScrollChild {
  position: relative;
  max-width: 100vw !important;
  // height: 40vh;
  z-index: 10 !important;
}

.historyTableContainer {
  max-height: $row4;
  height: fit-content;
}
.cutContainer {
  height: 43vh;
  position: relative;
}
.bottomButtonContainer {
  height: $row6;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 7px;
  button {
    width: 100%;
    font-size: 15px;
  }
  // padding-bottom: 5%;
}
.inputContainer {
  height: $row5;
  padding: 0 7px;
  position: relative;
  z-index: 50;
  input,
  button,
  textArea {
    font-size: 10px;
  }
}
.inputButtons {
  position: relative;
  z-index: 55;
}
.downArrow,
.upArrow {
  position: absolute;
  z-index: 10;
  color: #fff;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
.downArrow {
  border-top: 5px solid #fff;
  top: 54vh;
}
.upArrow {
  top: 18vh;
  border-bottom: 5px solid #fff;
}
.activeTableContainer {
  [class*="col"] {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}

.loaderIcon {
  margin-right: 7px;
  top: 2px;
  animation: spin 1s infinite linear;
}
.loadingContainer {
  height: 53vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

$base01: #212529;
$base02: #2c3034;
$base03: #fff;
$base04: #373b3e;
$base05: #323539;

/* --bs-table-bg: #212529;
--bs-table-striped-bg: #2c3034;
--bs-table-striped-color: #fff;
--bs-table-active-bg: #373b3e;
--bs-table-active-color: #fff;
--bs-table-hover-bg: #323539;
--bs-table-hover-color: #fff; */
